In [3]:
train_file_path = "C:/Users/shabbir.hasan/Documents/Hasan/Anaconda_rep/Kaggle/whats-cooking/train.json"

In [4]:
import json

In [5]:
with open(train_file_path, encoding='utf-8') as data_file:
    data = json.loads(data_file.read())

In [6]:
len(data)

39774

In [7]:
data[0]

{'id': 10259,
 'cuisine': 'greek',
 'ingredients': ['romaine lettuce',
  'black olives',
  'grape tomatoes',
  'garlic',
  'pepper',
  'purple onion',
  'seasoning',
  'garbanzo beans',
  'feta cheese crumbles']}

In [8]:
data[1000]

{'id': 36837,
 'cuisine': 'italian',
 'ingredients': ['marinara sauce',
  'goat cheese',
  'minced garlic',
  'salt',
  'ground lamb',
  'roasted red peppers',
  'chopped onion',
  'black pepper',
  'refrigerated pizza dough',
  'italian seasoning']}

In [9]:
from pandas.io.json import json_normalize

In [10]:
json_normalize(data[0])

  cuisine     id                                        ingredients
0   greek  10259  [romaine lettuce, black olives, grape tomatoes...

In [11]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [24]:

json_normalize(flatten_json(data[1]))

,cuisine,id,ingredients_0,ingredients_1,ingredients_10,ingredients_2,ingredients_3,ingredients_4,ingredients_5,ingredients_6,ingredients_7,ingredients_8,ingredients_9
0,southern_us,25693,plain flour,ground pepper,vegetable oil,salt,tomatoes,ground black pepper,thyme,eggs,green tomatoes,yellow corn meal,milk

In [27]:
import pandas as pd
pd.DataFrame(json_normalize(flatten_json(data[1:5])))

,0_cuisine,0_id,0_ingredients_0,0_ingredients_1,0_ingredients_10,0_ingredients_2,0_ingredients_3,0_ingredients_4,0_ingredients_5,0_ingredients_6,...,3_ingredients_18,3_ingredients_19,3_ingredients_2,3_ingredients_3,3_ingredients_4,3_ingredients_5,3_ingredients_6,3_ingredients_7,3_ingredients_8,3_ingredients_9
0,southern_us,25693,plain flour,ground pepper,vegetable oil,salt,tomatoes,ground black pepper,thyme,eggs,...,natural yogurt,bay leaf,cornflour,cayenne pepper,onions,garlic paste,milk,butter,salt,lemon juice

In [57]:
from pandas.io.json import json_normalize

In [61]:
df = json_normalize(data)

In [62]:
df.head()

       cuisine     id                                        ingredients
0        greek  10259  [romaine lettuce, black olives, grape tomatoes...
1  southern_us  25693  [plain flour, ground pepper, salt, tomatoes, g...
2     filipino  20130  [eggs, pepper, salt, mayonaise, cooking oil, g...
3       indian  22213                [water, vegetable oil, wheat, salt]
4       indian  13162  [black pepper, shallots, cornflour, cayenne pe...

In [63]:
df.ingredients.head()

0    [romaine lettuce, black olives, grape tomatoes...
1    [plain flour, ground pepper, salt, tomatoes, g...
2    [eggs, pepper, salt, mayonaise, cooking oil, g...
3                  [water, vegetable oil, wheat, salt]
4    [black pepper, shallots, cornflour, cayenne pe...
Name: ingredients, dtype: object