In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

from sklearn import preprocessing

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import math as math

In [2]:
df = pd.read_csv("C:/Users/shabbir.hasan/Documents/Hasan/Anaconda_rep/Kaggle/New_York_City_Taxi_Fare_Prediction/generated_datasets/clean_v2_01-02.csv")

In [3]:
df.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,day_of_month,day_of_week,weekend_weekday,hour,time_30_min_bin,time_15_min_bin,distance_travelled
0,4.0,-73.994102,40.751041,-73.991257,40.754959,1,2015,3,10,Tuesday,0,7,30,45,0.50
1,6.1,-73.961686,40.713017,-73.952406,40.699525,1,2011,12,17,Saturday,1,0,30,45,1.69
2,9.7,-73.978325,40.753808,-73.985068,40.756177,1,2010,9,16,Thursday,0,0,0,15,0.63
3,6.9,-74.001737,40.719357,-73.992353,40.740713,1,2012,6,13,Wednesday,0,18,0,0,2.50
4,6.0,-73.966393,40.770531,-73.958328,40.781441,3,2015,2,4,Wednesday,0,7,30,30,1.39

In [4]:
df['passenger_count'] = df['passenger_count'].astype('category')
df['year'] = df['year'].astype('category')
df['month'] = df['month'].astype('category')
df['day_of_month'] = df['day_of_month'].astype('category')
df['day_of_week'] = df['day_of_week'].astype('category')
df['weekend_weekday'] = df['weekend_weekday'].astype('category')
df['hour'] = df['hour'].astype('category')
df['time_30_min_bin'] = df['time_30_min_bin'].astype('category')
df['time_15_min_bin'] = df['time_15_min_bin'].astype('category')

In [5]:
df.dtypes

fare_amount            float64
pickup_longitude       float64
pickup_latitude        float64
dropoff_longitude      float64
dropoff_latitude       float64
passenger_count       category
year                  category
month                 category
day_of_month          category
day_of_week           category
weekend_weekday       category
hour                  category
time_30_min_bin       category
time_15_min_bin       category
distance_travelled     float64
dtype: object

In [6]:
df.columns

Index(['fare_amount', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'passenger_count', 'year',
       'month', 'day_of_month', 'day_of_week', 'weekend_weekday', 'hour',
       'time_30_min_bin', 'time_15_min_bin', 'distance_travelled'],
      dtype='object')

In [7]:
def encodeLabel(df ,inp):
    le = preprocessing.LabelEncoder()
    le.fit(df[inp])
    return le.transform(df[inp])

In [8]:
df['day_of_week'] = encodeLabel(df, 'day_of_week')

In [9]:
#Cleaning fare : not giving better results
#df = df[(df["fare_amount"] <= 100)]

In [10]:
#fare_round: not giving better results
#df['fare_roundoff'] = df['fare_amount'].apply(lambda x: int(round(x, 0)))

In [11]:
#distance_bin: not giving better results
#df['distance_travelled'] = df['distance_travelled'].apply(lambda x: int(math.ceil(x)))

In [12]:
df.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,day_of_month,day_of_week,weekend_weekday,hour,time_30_min_bin,time_15_min_bin,distance_travelled
0,4.0,-73.994102,40.751041,-73.991257,40.754959,1,2015,3,10,5,0,7,30,45,0.50
1,6.1,-73.961686,40.713017,-73.952406,40.699525,1,2011,12,17,2,1,0,30,45,1.69
2,9.7,-73.978325,40.753808,-73.985068,40.756177,1,2010,9,16,4,0,0,0,15,0.63
3,6.9,-74.001737,40.719357,-73.992353,40.740713,1,2012,6,13,6,0,18,0,0,2.50
4,6.0,-73.966393,40.770531,-73.958328,40.781441,3,2015,2,4,6,0,7,30,30,1.39

###  Splitting data

In [13]:
X = df[['pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'passenger_count', 'year',
       'month', 'day_of_month', 'day_of_week', 'weekend_weekday', 'hour',
       'time_30_min_bin', 'time_15_min_bin','distance_travelled']]

In [14]:
y = df[['fare_amount']]

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

### Model building

In [16]:
# Create linear regression object
regr = linear_model.LinearRegression()

In [17]:
# Train the model using the training sets
regr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [18]:
# Make predictions using the testing set
test_label_pred = regr.predict(X_test)

In [19]:
# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(y_test, test_label_pred))

Coefficients:
 [[ 3.04595253e+01 -2.24636715e+01  1.35663318e+01 -1.20025957e+01
   6.16282182e-02  5.52431573e-01  8.68119946e-02  2.01064587e-03
  -1.58958842e-03 -1.89046258e-01  1.31372094e-04  1.49102659e-03
  -2.86322763e-03  1.48544340e+00]]
Mean squared error: 36.15

In [20]:
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y_test, test_label_pred))

Variance score: 0.59

### Predicting on kaggle dataset

In [21]:
test_kaggle = pd.read_csv("/Users/shabbir.hasan/Documents/Hasan/Anaconda_rep/Kaggle/New_York_City_Taxi_Fare_Prediction/test.csv")

In [22]:
#copying coe from cleaning file

In [23]:

# creating year
test_kaggle['year'] = test_kaggle.pickup_datetime.apply(lambda x: x[0:4])

#creating month
test_kaggle['month'] = test_kaggle.pickup_datetime.apply(lambda x: x[5:7])

# #year_month
# test_kaggle['year_month'] = test_kaggle.pickup_datetime.apply(lambda x: x[0:7])

#Day_of_month
test_kaggle['day_of_month'] = test_kaggle.pickup_datetime.apply(lambda x: x[8:10])

#time
test_kaggle['time'] = test_kaggle.pickup_datetime.apply(lambda x: x[11:16])

#hour
test_kaggle['hour'] = test_kaggle.time.apply(lambda x: x[0:2])

#minute
test_kaggle['minute'] = test_kaggle.time.apply(lambda x: x[3:5])

#date
test_kaggle['date'] = test_kaggle.pickup_datetime.apply(lambda x: x[0:10])


#time_zone --just to make sure all are same
# tested they all are same, so no need of creating this field
#test_kaggle['time_zone'] = test_kaggle.pickup_datetime.apply(lambda x: x[-3:])

In [24]:
# converting date column into date format
test_kaggle['date'] = pd.to_datetime(test_kaggle['date'])

# creating day of the week column
test_kaggle['day_of_week'] = test_kaggle['date'].dt.day_name()

In [25]:
test_kaggle =  test_kaggle.drop('time', 1)

In [26]:
test_kaggle =  test_kaggle.drop('date', 1)

In [27]:
#storing key for submission
submission = pd.DataFrame()
submission.key = pd.DataFrame(test_kaggle.key)
storing_key = test_kaggle['key']
storing_key['key'] = test_kaggle['key']

#deleting key
test_kaggle =  test_kaggle.drop('key', 1)

C:\Users\shabbir.hasan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\shabbir.hasan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [28]:
# checking split of rides according to day of the week
test_kaggle['day_of_week'].value_counts()

Tuesday      1692
Wednesday    1612
Saturday     1475
Monday       1454
Friday       1283
Sunday       1222
Thursday     1176
Name: day_of_week, dtype: int64

In [29]:
# creating weekend/weekday column
# weekday = 0 & weekday = 1
test_kaggle['weekend_weekday'] = test_kaggle.day_of_week.apply(lambda x: '1' if x in ('Friday', 'Saturday', 'Sunday') else '0')

In [30]:
#dropping datetime column
test_kaggle = test_kaggle.drop('pickup_datetime', 1)

In [31]:
# converting data type of columns
test_kaggle['passenger_count'] = test_kaggle['passenger_count'].astype('category')
test_kaggle['year'] = test_kaggle['year'].astype('category')
test_kaggle['month'] = test_kaggle['month'].astype('category')
#test_kaggle['year_month'] = test_kaggle['year_month'].astype('category')
test_kaggle['day_of_week'] = test_kaggle['day_of_week'].astype('category')
test_kaggle['weekend_weekday'] = test_kaggle['weekend_weekday'].astype('category')

In [32]:
test_kaggle.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,day_of_month,hour,minute,day_of_week,weekend_weekday
0,-73.973320,40.763805,-73.981430,40.743835,1,2015,01,27,13,08,Tuesday,0
1,-73.986862,40.719383,-73.998886,40.739201,1,2015,01,27,13,08,Tuesday,0
2,-73.982524,40.751260,-73.979654,40.746139,1,2011,10,08,11,53,Saturday,1
3,-73.981160,40.767807,-73.990448,40.751635,1,2012,12,01,21,12,Saturday,1
4,-73.966046,40.789775,-73.988565,40.744427,1,2012,12,01,21,12,Saturday,1

In [33]:
#Day_of_month
test_kaggle['time_30_min_bin'] = test_kaggle.minute.apply(lambda x: '30' if int(x) >= 30 else '0')
test_kaggle['time_15_min_bin'] = test_kaggle.minute.apply(lambda x: '0' if int(x) < 15 
                                              else ('15' if int(x) >= 15 and int(x) < 30 
                                                    else ('30' if int(x) >=30 and int(x) < 45 
                                                          else '45')))

In [34]:
# changing data type
test_kaggle['time_15_min_bin'] = test_kaggle['time_15_min_bin'].astype('category')
test_kaggle['time_30_min_bin'] = test_kaggle['time_30_min_bin'].astype('category')
test_kaggle['hour'] = test_kaggle['hour'].astype('category')

In [35]:
test_kaggle['day_of_month'] = test_kaggle['day_of_month'].astype('category')

In [36]:
test_kaggle =  test_kaggle.drop('minute', 1)

In [37]:
test_kaggle.dtypes

pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
passenger_count      category
year                 category
month                category
day_of_month         category
hour                 category
day_of_week          category
weekend_weekday      category
time_30_min_bin      category
time_15_min_bin      category
dtype: object

In [38]:
#encoding day of week
test_kaggle['day_of_week'] = encodeLabel(test_kaggle, 'day_of_week')

In [39]:
#calculating radial distance

#fun to calc dist
def radialDistance(lat1 , lon1, lat2, lon2):
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return round(d,2)

In [40]:
%%time
test_kaggle['distance_travelled'] = test_kaggle.apply(lambda x: radialDistance(x['pickup_latitude'], x['pickup_longitude'], 
                                           x['dropoff_latitude'], x['dropoff_longitude']), axis=1)

Wall time: 651 ms

In [41]:
#distance_bin: didnt work
#test_kaggle['distance_travelled'] = test_kaggle['distance_travelled'].apply(lambda x: int(math.ceil(x)))

In [42]:
test_kaggle.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,day_of_month,hour,day_of_week,weekend_weekday,time_30_min_bin,time_15_min_bin,distance_travelled
0,-73.973320,40.763805,-73.981430,40.743835,1,2015,01,27,13,5,0,0,0,2.32
1,-73.986862,40.719383,-73.998886,40.739201,1,2015,01,27,13,5,0,0,0,2.43
2,-73.982524,40.751260,-73.979654,40.746139,1,2011,10,08,11,2,1,30,45,0.62
3,-73.981160,40.767807,-73.990448,40.751635,1,2012,12,01,21,2,1,0,0,1.96
4,-73.966046,40.789775,-73.988565,40.744427,1,2012,12,01,21,2,1,0,0,5.39

## predicting on kaggle final data

In [43]:
# Make predictions using the testing set
test_kagle_label_pred = regr.predict(test_kaggle)

In [44]:
#checking values
test_kagle_label_pred[1:5]

array([[10.57179462],
       [ 6.4965565 ],
       [ 8.72468943],
       [13.89870373]])

In [45]:
#rounding of to two decimal
import numpy as np
test_kagle_label_pred = np.round(test_kagle_label_pred, decimals=2)

In [46]:
#checking values
test_kagle_label_pred[1:5]

array([[10.57],
       [ 6.5 ],
       [ 8.72],
       [13.9 ]])

In [47]:
#adding fare in submission
submission.fare_amount = pd.DataFrame(test_kagle_label_pred)

C:\Users\shabbir.hasan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [48]:
col_names =  ['key', 'fare_amount']
submission  = pd.DataFrame(columns = col_names)

In [49]:
submission.head()

Empty DataFrame
Columns: [key, fare_amount]
Index: []

In [50]:
#i know i am stupid for doing this, but i am in a rush
test_kaggle_forkey = pd.read_csv("/Users/shabbir.hasan/Documents/Hasan/Anaconda_rep/Kaggle/New_York_City_Taxi_Fare_Prediction/test.csv")

In [51]:
submission.key = test_kaggle_forkey['key']
submission.fare_amount = test_kagle_label_pred

In [52]:
submission.head()

                           key  fare_amount
0  2015-01-27 13:08:24.0000002        10.00
1  2015-01-27 13:08:24.0000003        10.57
2  2011-10-08 11:53:44.0000002         6.50
3  2012-12-01 21:12:12.0000002         8.72
4  2012-12-01 21:12:12.0000003        13.90

In [53]:
submission.to_csv('submission_v5.csv', index=False )

### Random forest

In [54]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

C:\Users\shabbir.hasan\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [55]:
reg = RandomForestRegressor(n_estimators=1000, max_depth=3, random_state=0)

In [ ]:
reg.fit(X_train, y_train)

C:\Users\shabbir.hasan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [ ]:
test_label_pred_rf = reg.predict(X_test)

In [ ]:
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(y_test, test_label_pred_rf))