In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
train = pd.read_csv("C:/Users/shabbir.hasan/Documents/Hasan/Anaconda_rep/Kaggle/New_York_City_Taxi_Fare_Prediction/generated_datasets/train_2.csv")

In [4]:
train.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,year_month,day_of_month,date,time,day_of_week,weekend_weekday
0,4.0,-73.994102,40.751041,-73.991257,40.754959,1,2015,3,2015-03,10,2015-03-10,07:45,Tuesday,0
1,6.1,-73.961686,40.713017,-73.952406,40.699525,1,2011,12,2011-12,17,2011-12-17,00:49,Saturday,1
2,9.7,-73.978325,40.753808,-73.985068,40.756177,1,2010,9,2010-09,16,2010-09-16,00:24,Thursday,0
3,6.9,-74.001737,40.719357,-73.992353,40.740713,1,2012,6,2012-06,13,2012-06-13,18:03,Wednesday,0
4,6.0,-73.966393,40.770531,-73.958328,40.781441,3,2015,2,2015-02,4,2015-02-04,07:31,Wednesday,0