In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
df_whole = pd.read_csv("/Users/shabbir.hasan/Documents/Hasan/Anaconda_rep/Kaggle/New_York_City_Taxi_Fare_Prediction/train.csv")

In [50]:
test_kaggle = pd.read_csv("/Users/shabbir.hasan/Documents/Hasan/Anaconda_rep/Kaggle/New_York_City_Taxi_Fare_Prediction/test.csv")

###  Creating test pipline

In [5]:
# splitting data randomly (not using whole data for now)
train, test = train_test_split(df_whole, test_size=0.7)

In [6]:
test.shape
train.shape

(38796700, 8)

(16627156, 8)

In [7]:
#removing index
train = train.reset_index()

train =  train.drop('index', 1)

In [8]:
# splice key
#train.key = train.key.astype(str).str[14:21]

In [9]:
train.head(100)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2013-03-08 18:45:00.00000079,17.00,2013-03-08 18:45:00 UTC,-73.993227,40.727820,-73.970855,40.679042,1
1,2012-11-19 07:34:00.00000056,5.50,2012-11-19 07:34:00 UTC,-73.965830,40.754517,-73.975682,40.751582,1
2,2012-01-29 00:18:00.000000143,10.50,2012-01-29 00:18:00 UTC,-73.954308,40.769978,-73.921207,40.809188,1
3,2012-03-14 00:30:00.00000025,8.90,2012-03-14 00:30:00 UTC,-73.975407,40.755622,-73.989352,40.774520,5
4,2011-03-05 21:35:15.0000004,9.30,2011-03-05 21:35:15 UTC,-73.990496,40.714456,-73.998944,40.734732,1
5,2014-08-06 17:37:22.0000002,9.00,2014-08-06 17:37:22 UTC,-73.976089,40.749771,-73.985246,40.751467,1
6,2009-11-08 18:48:48.0000001,4.50,2009-11-08 18:48:48 UTC,0.000000,0.000000,0.000000,0.000000,2
7,2009-12-23 21:59:00.000000214,4.90,2009-12-23 21:59:00 UTC,-73.963970,40.767793,-73.959085,40.780758,1
8,2010-11-07 21:20:46.0000001,29.87,2010-11-07 21:20:46 UTC,-73.873112,40.774127,-74.001757,40.732263,3
9,2010-01-28 22:25:00.000000125,28.10,2010-01-28 22:25:00 UTC,-74.005407,40.706383,-73.993000,40.621793,5
10,2011-03-07 13:34:47.0000003,8.10,2011-03-07 13:34:47 UTC,-73.982858,40.777389,-73.960360,40.769749,1
11,2013-07-23 21:25:00.00000080,6.50,2013-07-23 21:25:00 UTC,-73.994685,40.750532,-74.002985,40.739850,1
12,2013-10-28 12:16:00.000000160,5.50,2013-10-28 12:16:00 UTC,-73.977477,40.774125,-73.979342,40.766062,1
13,2011-12-03 01:11:00.00000027,12.90,2011-12-03 01:11:00 UTC,-73.991580,40.726895,-73.988427,40.685438,1
14,2009-12-02 19:09:00.000000148,7.30,2009-12-02 19:09:00 UTC,-73.973780,40.787065,-73.963793,40.811158,6
15,2010-04-14 00:14:00.00000086,8.50,2010-04-14 00:14:00 UTC,-73.988215,40.738002,-73.983555,40.763262,3
16,2011-08-31 14:11:00.000000115,6.10,2011-08-31 14:11:00 UTC,-73.988247,40.737603,-73.979688,40.752383,1
17,2010-11-07 08:36:53.0000002,9.70,2010-11-07 08:36:53 UTC,-73.971345,40.787714,-73.939309,40.805125,1
18,2010-05-10 20:46:00.000000219,19.70,2010-05-10 20:46:00 UTC,-74.010963,40.708720,-73.963483,40.774405,1
19,2012-09-01 18:53:54.0000001,6.10,2012-09-01 18:53:54 UTC,-73.970181,40.793902,-73.977186,40.776738,1
20,2013-01-18 20:37:00.00000063,3.50,2013-01-18 20:37:00 UTC,-74.000665,40.721000,-74.002742,40.718382,1
21,2013-12-23 07:24:00.00000078,28.00,2013-12-23 07:24:00 UTC,-73.992332,40.764062,-73.927588,40.820982,2
22,2009-02-11 17:18:50.0000006,12.30,2009-02-11 17:18:50 UTC,-73.950530,40.771695,-73.979792,40.730211,1
23,2009-08-23 00:21:00.00000020,17.30,2009-08-23 00:21:00 UTC,-73.977845,40.784025,-74.002940,40.723278,4
24,2012-10-21 19:49:00.000000186,15.50,2012-10-21 19:49:00 UTC,-73.953240,40.775952,-73.990645,40.750747,1
25,2011-03-17 03:19:45.0000001,16.90,2011-03-17 03:19:45 UTC,-73.975656,40.781946,-73.991827,40.714842,4
26,2012-06-01 07:56:00.000000181,6.90,2012-06-01 07:56:00 UTC,-73.994727,40.745147,-73.996740,40.726622,1
27,2014-05-19 21:52:00.000000133,5.50,2014-05-19 21:52:00 UTC,-73.981877,40.770487,-73.981317,40.780255,2
28,2014-07-23 07:46:24.0000001,9.50,2014-07-23 07:46:24 UTC,-73.991322,40.749891,-73.989968,40.756969,1
29,2014-12-18 10:40:00.00000039,16.50,2014-12-18 10:40:00 UTC,-74.001590,40.719650,-73.987550,40.674870,5
...,...,...,...,...,...,...,...,...
70,2010-04-07 11:53:00.00000069,15.70,2010-04-07 11:53:00 UTC,-73.947715,40.783352,-73.978522,40.750990,1
71,2009-11-02 18:57:36.0000002,4.50,2009-11-02 18:57:36 UTC,-73.995007,40.750195,-74.000240,40.747871,1
72,2012-07-02 17:10:00.00000076,6.50,2012-07-02 17:10:00 UTC,-73.979605,40.755427,-73.988790,40.736702,3
73,2009-06-04 02:49:00.0000004,8.90,2009-06-04 02:49:00 UTC,-73.948783,40.781710,-73.978495,40.772823,1
74,2014-12-28 14:12:44.0000002,4.00,2014-12-28 14:12:44 UTC,-73.959571,40.771199,-73.950679,40.775707,2
75,2015-05-04 21:35:05.0000005,18.00,2015-05-04 21:35:05 UTC,-73.983910,40.743687,-73.973755,40.793716,1
76,2010-01-17 12:48:00.00000092,8.50,2010-01-17 12:48:00 UTC,-73.981797,40.772850,-73.959347,40.780160,1
77,2012-06-08 10:57:52.0000005,6.90,2012-06-08 10:57:52 UTC,-73.999636,40.738731,-73.999865,40.717975,2
78,2012-10-27 00:43:00.00000093,7.00,2012-10-27 00:43:00 UTC,-74.000178,40.742970,-73.978678,40.752550,1
79,2012-09-24 20:21:00.000000206,16.50,2012-09-24 20:21:00 UTC,-73.975955,40.789172,-73.978182,40.748447,1
80,2011-08-13 00:54:00.00000059,15.30,2011-08-13 00:54:00 UTC,-74.007691,40.740766,-74.004330,40.739623,1
81,2015-03-28 01:21:01.0000004,8.50,2015-03-28 01:21:01 UTC,-73.956528,40.716976,-73.935287,40.711021,1
82,2012-02-08 12:00:00.00000021,5.30,2012-02-08 12:00:00 UTC,-74.004522,40.716127,-74.012105,40.707097,1
83,2012-09-23 20:58:00.000000174,3.50,2012-09-23 20:58:00 UTC,-73.953895,40.775022,-73.958077,40.769180,6
84,2010-08-14 17:50:30.0000001,6.50,2010-08-14 17:50:30 UTC,-73.976283,40.762882,-73.964853,40.758267,1
85,2012-04-05 19:33:15.0000001,22.90,2012-04-05 19:33:15 UTC,-73.977790,40.776994,-74.000607,40.747406,2
86,2013-10-05 20:42:05.0000001,8.00,2013-10-05 20:42:05 UTC,-73.991005,40.749780,-73.971513,40.762908,1
87,2009-03-25 07:07:00.0000001,17.30,2009-03-25 07:07:00 UTC,-73.960553,40.774670,-73.941458,40.849130,1
88,2009-09-24 15:19:00.00000019,4.50,2009-09-24 15:19:00 UTC,-73.970033,40.765523,-73.962242,40.765167,1
89,2010-04-26 20:25:00.000000119,6.90,2010-04-26 20:25:00 UTC,-73.993065,40.727897,-73.978025,40.748777,5
90,2015-03-19 13:50:51.0000003,19.50,2015-03-19 13:50:51 UTC,-73.986732,40.755356,-73.952354,40.748070,1
91,2012-12-03 16:59:00.000000184,15.50,2012-12-03 16:59:00 UTC,-74.009862,40.720762,-73.991135,40.755432,1
92,2010-10-15 22:04:00.000000223,19.70,2010-10-15 22:04:00 UTC,-73.968742,40.754943,-73.998893,40.681778,1
93,2011-09-08 07:55:00.00000038,8.10,2011-09-08 07:55:00 UTC,-73.870830,40.751660,-73.883470,40.753895,2
94,2011-02-03 21:02:00.000000284,5.70,2011-02-03 21:02:00 UTC,-73.990697,40.736548,-73.988532,40.727433,1
95,2009-07-31 05:27:11.0000001,45.00,2009-07-31 05:27:11 UTC,-74.010037,40.719920,-73.778314,40.646858,1
96,2009-06-01 21:29:00.000000152,4.10,2009-06-01 21:29:00 UTC,-73.844207,40.721337,-73.850317,40.711402,5
97,2012-06-30 15:01:00.00000084,6.90,2012-06-30 15:01:00 UTC,-73.978180,40.786472,-74.006385,40.743155,1
98,2013-03-13 11:08:00.000000138,7.00,2013-03-13 11:08:00 UTC,-73.958675,40.760132,-73.975570,40.760377,1
99,2010-03-07 00:25:41.0000001,8.90,2010-03-07 00:25:41 UTC,0.000000,0.000000,0.000000,0.000000,1

In [10]:
train.isnull().values.any()

True

In [11]:
train = train.dropna()

In [41]:
#Splitting into test and trin
# splitting data randomly (not using whole data for now, taking very small chunk)
#train, test = train_test_split(train, test_size=0.25)

In [12]:
#train.shape
#test.shape

In [31]:
test.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
40938598,2009-05-20 22:06:26.0000008,5.70,2009-05-20 22:06:26 UTC,-73.971338,40.755223,-73.982770,40.761657,1
27942878,2010-11-14 12:24:00.000000105,25.30,2010-11-14 12:24:00 UTC,-73.866352,40.771283,-73.996902,40.689302,1
4942278,2014-04-17 09:54:10.0000002,33.33,2014-04-17 09:54:10 UTC,-73.976780,40.751325,-73.861483,40.768147,1
25281861,2010-01-02 21:55:00.000000154,5.70,2010-01-02 21:55:00 UTC,-73.979213,40.746932,-73.992397,40.731460,1
6009662,2012-12-14 08:41:00.000000253,7.00,2012-12-14 08:41:00 UTC,-73.978502,40.752522,-73.986435,40.768417,1

In [23]:
#removing key and pickup_datetime
train = train.drop('key', 1)
train = train.drop('pickup_datetime', 1)

KeyError: "['key'] not found in axis"

In [32]:
#removing key and pickup_datetime
test = test.drop('key', 1)
test = test.drop('pickup_datetime', 1)

In [24]:
# Split the data into training/testing sets
train_label = train.fare_amount
train_data = train.drop('fare_amount', 1)

In [37]:
test = test.dropna()

In [38]:
test.head()
test.shape

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
40938598,5.70,-73.971338,40.755223,-73.982770,40.761657,1
27942878,25.30,-73.866352,40.771283,-73.996902,40.689302,1
4942278,33.33,-73.976780,40.751325,-73.861483,40.768147,1
25281861,5.70,-73.979213,40.746932,-73.992397,40.731460,1
6009662,7.00,-73.978502,40.752522,-73.986435,40.768417,1

(38796451, 6)

In [39]:
test_label = test.fare_amount
test_data = test.drop('fare_amount', 1)

####  creating test model and predicting on base of it

In [27]:
# Create linear regression object
regr = linear_model.LinearRegression()

In [28]:
# Train the model using the training sets
regr.fit(train_data, train_label)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [40]:
# Make predictions using the testing set
test_label_pred = regr.predict(test_data)

In [41]:
# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(test_label, test_label_pred))

Coefficients:
 [ 0.00199381 -0.0020533   0.0038655  -0.00225775  0.09712997]
Mean squared error: 474.06

In [42]:
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(test_label, test_label_pred))

Variance score: 0.00

####  predicting on given test data

In [72]:
test_kaggle.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1

In [62]:
test_kaggle.key[8][14:21]

'10:20.0'

In [68]:
test_kaggle.key = test_kaggle.key.apply(lambda x: x[14:21])

In [74]:
# kaggle_key = test_kaggle.key
# test_kaggle = test_kaggle.drop('key', 1)
test_kaggle = test_kaggle.drop('pickup_datetime', 1)

In [77]:
# Make predictions using the testing set
test_kagle_label_pred = regr.predict(test_kaggle)

In [78]:
#checking values
test_kagle_label_pred[1:5]

array([11.26674849, 11.26675036, 11.26666497, 11.26667355])

In [141]:
#rounding of to two decimal
import numpy as np
test_kagle_label_pred = np.round(test_kagle_label_pred, decimals=2)

In [142]:
#checking values
test_kagle_label_pred[1:5]

array([11.27, 11.27, 11.27, 11.27])

In [143]:
submission = pd.DataFrame()

In [144]:
submission.key = pd.DataFrame(kaggle_key)
submission.fare_amount = pd.DataFrame(test_kagle_label_pred)

C:\Users\shabbir.hasan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.
C:\Users\shabbir.hasan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [145]:
col_names =  ['key', 'fare_amount']
submission  = pd.DataFrame(columns = col_names)

In [146]:
submission.key = (kaggle_key)
submission.fare_amount = test_kagle_label_pred

In [148]:
submission.head()

       key  fare_amount
0  08:24.0        11.27
1  08:24.0        11.27
2  53:44.0        11.27
3  12:12.0        11.27
4  12:12.0        11.27

In [150]:
submission.to_csv('submission_1.csv', index=False )

In [58]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [55]:
train.isnull().values.any()

False

In [71]:
reg = RandomForestRegressor(n_estimators=1000, max_depth=3,
                              random_state=0)

In [72]:
reg.fit(train_data, train_label)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=3,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [73]:
RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [75]:
print(clf.feature_importances_)

[0.32999412 0.03643235 0.63140718 0.00216636 0.        ]

In [76]:
test_label_pred = reg.predict(test_data)

In [77]:
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(test_label, test_label_pred))

Mean squared error: 1892.24