In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
df_whole = pd.read_csv("/Users/shabbir.hasan/Documents/Hasan/Anaconda_rep/Kaggle/New_York_City_Taxi_Fare_Prediction/train.csv")

In [3]:
# splitting data randomly (not using whole data for now)
train, test = train_test_split(df_whole, test_size=0.7)

In [4]:
test.shape
train.shape

(38796700, 8)

(16627156, 8)

In [5]:
#removing index
train = train.reset_index()

train =  train.drop('index', 1)

In [6]:
# splice key
#train.key = train.key.astype(str).str[14:21]

In [7]:
train.head(100)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2010-04-04 21:44:13.0000004,4.9,2010-04-04 21:44:13 UTC,-73.993660,40.735771,-73.991926,40.726305,1
1,2014-05-26 21:41:00.00000021,9.5,2014-05-26 21:41:00 UTC,-74.006097,40.723235,-73.980700,40.733607,1
2,2014-08-29 17:37:00.000000202,9.0,2014-08-29 17:37:00 UTC,-74.001182,40.736505,-73.998350,40.722825,1
3,2010-01-12 08:16:00.00000060,6.5,2010-01-12 08:16:00 UTC,-73.990340,40.731507,-73.978777,40.745352,1
4,2013-09-12 10:05:00.00000047,26.0,2013-09-12 10:05:00 UTC,-73.979157,40.758632,-74.014380,40.704017,1
5,2014-11-22 11:54:51.0000004,18.0,2014-11-22 11:54:51 UTC,-73.966906,40.804214,-73.976526,40.761460,1
6,2014-08-29 13:38:00.00000052,8.5,2014-08-29 13:38:00 UTC,-73.968478,40.767508,-73.981378,40.780467,6
7,2012-03-08 16:27:12.0000002,11.3,2012-03-08 16:27:12 UTC,-74.001183,40.741681,-73.978164,40.783395,1
8,2012-02-16 17:58:22.0000003,14.1,2012-02-16 17:58:22 UTC,-73.973205,40.764544,-74.005924,40.735729,1
9,2013-07-03 18:44:50.0000001,6.0,2013-07-03 18:44:50 UTC,-73.995619,40.722234,-73.983972,40.725500,1
10,2009-10-30 09:45:47.0000006,18.1,2009-10-30 09:45:47 UTC,-73.952845,40.772793,-73.991861,40.747177,1
11,2011-05-26 10:13:00.00000062,10.9,2011-05-26 10:13:00 UTC,-73.804770,40.652423,-73.794458,40.656707,3
12,2009-04-24 00:15:10.0000001,9.7,2009-04-24 00:15:10 UTC,-73.968285,40.755153,-73.929131,40.753879,1
13,2010-08-25 16:46:00.00000059,5.7,2010-08-25 16:46:00 UTC,-73.952402,40.781240,-73.940935,40.798308,2
14,2012-12-18 18:12:11.0000001,17.0,2012-12-18 18:12:11 UTC,-73.998713,40.732082,-73.970739,40.763255,1
15,2009-08-30 02:22:00.000000135,6.9,2009-08-30 02:22:00 UTC,-73.980017,40.726822,-74.003075,40.733083,2
16,2014-10-08 17:33:00.000000115,13.5,2014-10-08 17:33:00 UTC,-73.976520,40.751670,-73.987460,40.722690,1
17,2011-06-20 17:25:34.0000001,53.3,2011-06-20 17:25:34 UTC,-73.776807,40.645862,-73.999576,40.679143,1
18,2014-07-15 06:46:21.0000003,5.0,2014-07-15 06:46:21 UTC,-73.982381,40.768823,-73.993512,40.771322,1
19,2015-03-17 18:18:39.0000005,36.0,2015-03-17 18:18:39 UTC,-73.885376,40.773106,-73.782799,40.644005,1
20,2010-06-09 19:41:54.0000006,8.1,2010-06-09 19:41:54 UTC,-73.964643,40.760317,-73.987434,40.768769,1
21,2015-05-26 18:03:38.0000003,9.0,2015-05-26 18:03:38 UTC,-73.959908,40.769428,-73.980713,40.769936,1
22,2009-02-18 12:10:28.0000001,4.5,2009-02-18 12:10:28 UTC,-73.985411,40.759914,-73.982884,40.754514,1
23,2012-08-19 00:06:00.00000080,5.3,2012-08-19 00:06:00 UTC,-74.004735,40.747027,-73.990335,40.746457,1
24,2009-08-01 18:19:00.00000090,6.1,2009-08-01 18:19:00 UTC,-73.984468,40.759487,-73.986867,40.766242,5
25,2009-04-22 09:38:00.000000156,18.1,2009-04-22 09:38:00 UTC,-73.869018,40.769658,-73.826522,40.770417,1
26,2015-03-17 04:45:27.0000001,2.5,2015-03-17 04:45:27 UTC,-73.983154,40.756275,-73.981812,40.757927,1
27,2010-07-29 14:28:00.00000060,6.5,2010-07-29 14:28:00 UTC,-73.992845,40.752942,-73.983293,40.764258,1
28,2014-07-07 08:33:43.0000003,7.0,2014-07-07 08:33:43 UTC,-73.988500,40.753967,-73.973777,40.751560,1
29,2010-11-02 22:17:00.000000106,3.7,2010-11-02 22:17:00 UTC,-73.975373,40.748092,-73.976852,40.751948,5
...,...,...,...,...,...,...,...,...
70,2009-10-04 07:43:26.0000002,14.1,2009-10-04 07:43:26 UTC,-73.946133,40.703147,-74.009144,40.734826,1
71,2014-01-01 00:54:00.000000175,5.5,2014-01-01 00:54:00 UTC,-73.983687,40.738197,-73.980587,40.730162,3
72,2014-01-24 11:52:41.0000003,23.0,2014-01-24 11:52:41 UTC,-73.969947,40.762850,-74.006215,40.711822,1
73,2011-01-06 19:58:27.0000007,11.3,2011-01-06 19:58:27 UTC,-73.978278,40.752076,-73.981399,40.785215,1
74,2014-05-23 18:40:05.0000003,7.0,2014-05-23 18:40:05 UTC,-73.971965,40.754109,-73.979512,40.749421,1
75,2015-05-26 13:59:56.0000002,2.5,2015-05-26 13:59:56 UTC,-74.006721,40.713814,-74.006714,40.713787,1
76,2009-07-16 01:13:04.0000001,7.3,2009-07-16 01:13:04 UTC,-73.996729,40.721873,-74.002949,40.734223,2
77,2011-07-06 12:57:00.000000116,49.8,2011-07-06 12:57:00 UTC,-73.781277,40.646670,-73.979760,40.758340,1
78,2011-02-06 01:55:00.00000072,5.7,2011-02-06 01:55:00 UTC,-73.953888,40.770830,-73.963418,40.758473,1
79,2013-10-02 11:10:00.00000032,2.5,2013-10-02 11:10:00 UTC,-73.992075,40.759267,-73.992722,40.758192,1
80,2013-09-29 19:27:00.000000210,4.5,2013-09-29 19:27:00 UTC,-73.966083,40.762760,-73.958840,40.768972,2
81,2010-04-20 19:03:00.000000113,10.5,2010-04-20 19:03:00 UTC,-73.988410,40.696307,-73.999842,40.730550,1
82,2012-03-09 13:30:10.0000004,6.5,2012-03-09 13:30:10 UTC,-73.991968,40.747094,-73.980404,40.736845,1
83,2013-10-15 20:28:00.000000130,11.5,2013-10-15 20:28:00 UTC,-73.991391,40.756259,-73.978294,40.730908,1
84,2012-02-25 02:58:27.0000003,8.1,2012-02-25 02:58:27 UTC,-74.003963,40.725934,-73.979763,40.760514,1
85,2013-09-13 20:41:00.000000160,4.0,2013-09-13 20:41:00 UTC,-73.952542,40.778090,-73.945315,40.774232,3
86,2014-12-23 10:58:00.000000105,5.5,2014-12-23 10:58:00 UTC,-73.981940,40.772130,-73.975250,40.777080,1
87,2014-06-06 02:07:22.0000001,18.0,2014-06-06 02:07:22 UTC,-73.968111,40.755544,-73.963859,40.718898,1
88,2011-01-22 07:32:26.0000002,4.9,2011-01-22 07:32:26 UTC,-73.965098,40.755680,-73.974785,40.752381,1
89,2013-07-23 20:34:00.00000066,4.5,2013-07-23 20:34:00 UTC,-73.982255,40.773255,-73.988085,40.764770,5
90,2010-09-16 19:36:55.0000001,11.3,2010-09-16 19:36:55 UTC,-74.006033,40.726287,-73.946352,40.726568,1
91,2010-05-15 12:51:27.0000003,12.1,2010-05-15 12:51:27 UTC,-73.982197,40.768541,-73.989382,40.726359,1
92,2010-12-29 10:14:36.0000001,12.9,2010-12-29 10:14:36 UTC,-73.963334,40.765711,-73.962712,40.804526,1
93,2009-01-09 18:13:54.0000003,11.1,2009-01-09 18:13:54 UTC,-73.966108,40.762167,-73.921106,40.755105,1
94,2013-12-23 13:48:53.0000004,9.5,2013-12-23 13:48:53 UTC,-73.980326,40.750669,-73.991574,40.755199,1
95,2009-12-24 20:16:16.0000001,9.3,2009-12-24 20:16:16 UTC,-73.997955,40.735967,-73.962887,40.758344,1
96,2011-02-09 19:47:00.000000291,12.1,2011-02-09 19:47:00 UTC,-74.000047,40.721687,-73.965332,40.695227,1
97,2013-08-12 20:38:00.00000037,4.5,2013-08-12 20:38:00 UTC,-73.990215,40.761747,-73.992393,40.751855,6
98,2011-07-21 08:39:00.000000196,6.5,2011-07-21 08:39:00 UTC,-73.955848,40.768332,-73.955422,40.785363,2
99,2014-03-10 16:08:37.0000006,6.0,2014-03-10 16:08:37 UTC,-73.983050,40.763738,-73.999467,40.757890,1

In [9]:
train.isnull().values.any()

True

In [39]:
train = train.dropna()

In [41]:
#Splitting into test and trin
# splitting data randomly (not using whole data for now, taking very small chunk)
train, test = train_test_split(train, test_size=0.25)

In [42]:
train.shape
test.shape

(9352713, 6)

(3117572, 6)

In [43]:
#removing key and pickup_datetime
train = train.drop('key', 1)
train = train.drop('pickup_datetime', 1)

KeyError: "['key'] not found in axis"

In [44]:
# Split the data into training/testing sets
train_label = train.fare_amount
train_data = train.drop('fare_amount', 1)

In [45]:
test_label = test.fare_amount
test_data = test.drop('fare_amount', 1)

In [46]:
train_data.head()
train_data.shape

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
13773033,-73.964190,40.682965,-73.931597,40.672420,5
7959799,-73.985664,40.717936,-73.975701,40.732514,1
9441667,-73.952822,40.772089,-73.978645,40.777508,1
10398352,-73.961437,40.764447,-73.982900,40.747097,1
1688305,-73.990754,40.740423,-73.954889,39.629385,1

(9352713, 5)

In [47]:
# Create linear regression object
regr = linear_model.LinearRegression()

In [48]:
# Train the model using the training sets
regr.fit(train_data, train_label)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [49]:
# Make predictions using the testing set
test_label_pred = regr.predict(test_data)

In [51]:
# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(test_label, test_label_pred))

Coefficients:
 [ 0.00228147 -0.00165062  0.00421145 -0.00200968  0.09716923]
Mean squared error: 1940.22

In [53]:
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(test_label, test_label_pred))

Variance score: 0.00

In [58]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [55]:
train.isnull().values.any()

False

In [ ]:
reg = RandomForestRegressor(n_estimators=1000, max_depth=3,
                              random_state=0)

In [ ]:
reg.fit(train_data, train_label)

In [ ]:
RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [ ]:
print(clf.feature_importances_)

In [67]:
test_label_pred = clf.predict(test_data)

In [68]:
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(test_label, test_label_pred))

Mean squared error: 1901.56