In [66]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#from math import sin, cos, sqrt, atan2, radians
import math as math

In [2]:
train = pd.read_csv("C:/Users/shabbir.hasan/Documents/Hasan/Anaconda_rep/Kaggle/New_York_City_Taxi_Fare_Prediction/generated_datasets/train_2.csv")

### Changing field type

In [3]:
# converting data type of columns
train['passenger_count'] = train['passenger_count'].astype('category')
train['year'] = train['year'].astype('category')
train['month'] = train['month'].astype('category')
train['day_of_month'] = train['day_of_month'].astype('category')
train['day_of_week'] = train['day_of_week'].astype('category')
train['weekend_weekday'] = train['weekend_weekday'].astype('category')

In [4]:
train['date'] = pd.to_datetime(train['date'])

###  handling time

In [5]:
#Day_of_month
train['hour'] = train.time.apply(lambda x: x[0:2])
train['minute'] = train.time.apply(lambda x: x[3:5])

In [6]:
train['time_30_min_bin'] = train.minute.apply(lambda x: '30' if int(x) >= 30 else '0')

In [7]:
train['time_15_min_bin'] = train.minute.apply(lambda x: '0' if int(x) < 15 else ('15' if int(x) >= 15 and int(x) < 30 else ('30' if int(x) >=30 and int(x) < 45 else '45')))

In [8]:
#dropping mminute
train =  train.drop('minute', 1)

In [9]:
train =  train.drop('time', 1)

In [10]:
train =  train.drop('year_month', 1)

In [11]:
train.dtypes

fare_amount                 float64
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count            category
year                       category
month                      category
day_of_month               category
date                 datetime64[ns]
day_of_week                category
weekend_weekday            category
hour                         object
time_30_min_bin              object
time_15_min_bin              object
dtype: object

In [12]:
train['time_15_min_bin'] = train['time_15_min_bin'].astype('category')
train['time_30_min_bin'] = train['time_30_min_bin'].astype('category')
train['hour'] = train['hour'].astype('category')

In [13]:
train.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,day_of_month,date,day_of_week,weekend_weekday,hour,time_30_min_bin,time_15_min_bin
0,4.0,-73.994102,40.751041,-73.991257,40.754959,1,2015,3,10,2015-03-10,Tuesday,0,07,30,45
1,6.1,-73.961686,40.713017,-73.952406,40.699525,1,2011,12,17,2011-12-17,Saturday,1,00,30,45
2,9.7,-73.978325,40.753808,-73.985068,40.756177,1,2010,9,16,2010-09-16,Thursday,0,00,0,15
3,6.9,-74.001737,40.719357,-73.992353,40.740713,1,2012,6,13,2012-06-13,Wednesday,0,18,0,0
4,6.0,-73.966393,40.770531,-73.958328,40.781441,3,2015,2,4,2015-02-04,Wednesday,0,07,30,30

In [35]:
train.isnull().values.any()

False

In [32]:
train.to_csv('clean_2.csv', index=False )